# To see all available configs, run:
# ansible-config list

[defaults]

# https://docs.ansible.com/ansible/latest/intro_configuration.html#roles-path
roles_path = ~/dotfiles/roles_galaxy

# List all callback plugins: ansible-doc -t callback --list
# Detail for one plugin: ansible-doc -t callback skippy
# stdout_callback = skippy

# This shows 3 dots at the end ("...") of each line, and break URLs
# stdout_callback = unixy

# ansible-doc -t callback unixy
display_skipped_hosts = yes
