# http://duplicity.nongnu.org/vers8/duplicity.1.html

# Exclude files first
- **/node_modules/
- **/.DS_Store
- **/.tox
- **/*.pyc
- **/.venv
- **/.mypy_cache

# Bash
- **/.bash_sessions/
$HOME/.bash_*
$HOME/*history*

# SSH / GPG / Configs
$HOME/.ssh/
- $HOME/.gnupg/random_seed
$HOME/.gnupg/
$HOME/.config/
$HOME/.aws/
$HOME/.cookiecutterrc
$HOME/.gradle/gradle.properties

# Home dir
$HOME/.todoist.config.json
$HOME/.tool-versions
$HOME/*conjuring*.py

# My projects
$HOME/Code/**/.*env*
$HOME/Code/**/.idea/
$HOME/Code/**/.python-version
$HOME/Code/**/.tool-versions
$HOME/Code/**/*sandbox*
$HOME/Code/**/*conjuring*.py
$HOME/Library/Application Support/daily-grind/
$HOME/Library/Application Support/dontforget/

# Python
$HOME/*.py
$HOME/Library/Application Support/JetBrains/PyCharm*/scratches/
$HOME/Library/Application Support/JetBrains/PyCharm*/consoles/

# Strapi
- $HOME/container-apps/strapi/app/.cache/
- $HOME/container-apps/strapi/app/build/
$HOME/container-apps/strapi/app/

# Wolt
$HOME/wolt-certificates/
$HOME/wolt/**/.*env*
$HOME/wolt/**/.idea/
$HOME/wolt/**/.python-version
$HOME/wolt/**/.tool-versions
$HOME/wolt/**/*sandbox*
$HOME/wolt/**/*conjuring*.py
