# http://duplicity.nongnu.org/vers8/duplicity.1.html

# Exclude files first
- **/node_modules/
- **/.DS_Store
- **/.tox
- **/*.pyc
- **/.venv
- **/.mypy_cache

# Bash
- **/.bash_sessions/
$HOME/.bash_*
$HOME/*history*

# Bash
- **/.bash_sessions/
$HOME/.bash_*
$HOME/*history*

# ZSH
- **/.zsh_sessions//
$HOME/.zsh_*
$HOME/*history*

# SSH / GPG / Configs
$HOME/.ssh/
$HOME/.config/
$HOME/.aws/
$HOME/.cookiecutterrc


# Home dir
$HOME/.todoist.config.json
$HOME/.tool-versions


# My projects
$HOME/code/**/.*env*
$HOME/code/**/.python-version
$HOME/code/**/.tool-versions

# Python
$HOME/.pyenv/

# VS-Code
$HOME/.vscode/

# Prez